/* // Medium devices (tablets, 768px and up) */
@media (min-width: 700px) {

.btn-success {
  background-color: pink;
}

 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    font-size : 200%;
  }

  .btn {
    font-size : 200%;
  }

  h2 {
    font-size : 200%;
  }

}
